version: '3'

services:
  db:
    image: postgres
  web:
    build: .
    volumes:
      - .:/django
    command: python3 /django/manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    depends_on:
      - db
